@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
    $src: null;

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $format: map-get($formats, $ext);
        $src: append($src, url(quote($path)) format(quote($format)), comma);
    }

    @font-face {
        font-display: swap;
        font-family: quote($name);
        font-style:  $style;
        font-weight: $weight;
        src: $src;
    }
}

@include font-face('main-font', '../fonts/M_PLUS_1p/MPLUS1p-Medium.ttf', null, null, ttf);
@include font-face('main-font-bold', '../fonts/M_PLUS_1p/MPLUS1p-Bold.ttf', bold, null, ttf);
@include font-face('main-font-light', '../fonts/M_PLUS_1p/MPLUS1p-Regular.ttf', bold, null, ttf);
@include font-face('sub-font', '../fonts/Zen_Maru_Gothic/ZenMaruGothic-Light.ttf', null, null, ttf);

$main-font:         'main-font';
$main-font-bold:    'main-font-bold';
$main-font-light:    'main-font-light';
$sub-font:          'sub-font';
