@use "../setting/index" as *;
@use "../variable/index" as *;

/* FirstView
=============================================================*/
.fv {
    width: 100vw;
    height: 56vw;
    position: relative;
    overflow: hidden;

    @include mq('md') {
        height: auto;
        padding-bottom: 14rem;
    }
}

.fv-wrap {
    width: 90vw;
    // max-width: 1680px;
    margin: 7% auto;
    position: relative;

    @include mq('md') {
        margin-top: 8rem;
        padding: 0 1.5rem;
    }

    &__main-vis {
        width: 100%;

        @include mq('md') {
            padding: 0 2rem;
        }
    }
}

.fv-news {
    display: grid;
    grid-template-columns: 8rem 36rem;
    gap: 2rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    background: #fff;
    padding: 3vw 3vw 0 0;
    border-radius: 0 30px 0 0;

    @include mq('md') {
        position: static;
        grid-template-columns: 8rem 21rem;
        align-self: center;
        gap: 1.3rem;
        padding: 0;
        margin-top: -1rem;
    }
}

.fv-news-frame {
    width: 100%;

    img {
        width: 100%;
    }
}

.fv-news-text {
    width: 100%;

    &__time {
        font-size: 1.2rem;
        font-family: $main-font-bold;
        color: $main-color;
    }

    &__ttl {
        margin-top: .5rem;
        display: inline-block;
        font-size: 1.4rem;
        color: $main-color;
        font-family: $main-font-bold;
        text-decoration: underline $accsent-color 3px;
        line-height: 1.1;

        @include mq('md') {
            line-height: 1.3;
            font-size: 1.6rem;
        }
    }

    &__desc {
        line-height: 1.5;
        font-size: 1.2rem;
        margin-top: 1rem;

        @include mq('md') {
            display: none;
        }
    }
}





.wave-back,
.wave-mid,
.wave-front {
    position: absolute;
    bottom: 0;
}

.wave-mid {
    bottom: -5vw;
    right: 12vw;
    width: 41vw;

    @include mq('md') {
        bottom: 0;
        right: 50%;
        width: 22rem;
        transform: translateX(50%);
        z-index: 10;
    }
}

.wave-back,
.wave-front {
    height: 20rem;
    width: 100%;

    @include mq('md') {
        height: 15rem;
    }
}